/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// ----------------------------------------

:root {
    --ion-color-favorite: #EBEBEB;
  }

.ion-color-favorite {
    --ion-color-base: var(--ion-color-favorite);
  }

// ----------------------------------------

:root {
    --ion-color-red: #9E260E;
  }

.ion-color-red {
    --ion-color-base: var(--ion-color-red);
  }

// ----------------------------------------

:root {
    --ion-color-alert: #FFCB00;
  }

.ion-color-alert {
    --ion-color-base: var(--ion-color-alert);
  }

// ----------------------------------------

:root {
    --ion-color-route: #252525;
  }

.ion-color-route {
    --ion-color-base: var(--ion-color-route);
}

// ----------------------------------------

:root {
    --ion-color-title-bino: #6D6E71;
}

.ion-color-title-bino {
    --ion-color-base: var(--ion-color-title-bino);
}

// ----------------------------------------

:root {
    --ion-color-background-main: #D3D3D3;
}

.ion-color-background-main {
    --ion-color-base: var(--ion-color-background-main);
 }

// ----------------------------------------

:root {
    --ion-color-main: #EBEBEB;
}

.ion-color--main {
    --ion-color-base: var(--ion-color-main);
}

// ----------------------------------------

:root {
    --ion-color-toolbar-main: #86B2E5;
}

.ion-color-toolbar-main {
    --ion-color-base: var(--ion-color-toolbar-main);
}
