<ion-header>

  <ion-toolbar color="main">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" color="red"></ion-menu-button>  
    </ion-buttons>

    <div style="display: flex;">
     <ion-img src="../../assets/ccr_logo.png" style="height: 50px; width: 50px;"></ion-img>
     <ion-title style=" font-style: italic;" color="title-bino" img="./drawable/ccr_logo.png">BINO</ion-title>
    </div>
  </ion-toolbar>
  
</ion-header>

<ion-content color="background-main">

  
</ion-content>
