<ion-header>

  <ion-toolbar color="main">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" color="red"></ion-menu-button>
  
    </ion-buttons>

    <ion-title>Teste</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-lowercase">
          <h3>text-uppercase</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-lowercase">
          <h3>text-lowercase</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
